.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-form-field {
  margin: 10px;
}

.material-icons{
  cursor: pointer;
  color: goldenrod;
  font-weight: bold;
}

.material-icons:hover{
  color: white;
}

button{
  margin-left: 10px;
}
