<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmitCript()" #f="ngForm" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Enter text</mat-label>
      <textarea
        matInput
        name="text"
        ngModel
        required
        cdkTextareaAutosize
        cdkAutosizeMaxRows="5"
        rows="5"
      >
      </textarea>
      <p>{{ noCript }}</p>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        name="password"
        ngModel
        required
        type="password"
      />
    </mat-form-field>

      <div fxLayout="row">
        <button
          mat-mini-fab
          color="primary"
          type="submit"
          [disabled]="f.invalid"
        >
          <span class="material-icons">south</span>
        </button>
        <button
          mat-mini-fab
          color="primary"
          (click)="onSubmitNotCript()"
        >
          <span class="material-icons">north</span>
        </button>
      </div>
    <mat-form-field appearance="outline">
      <mat-label>your cipher</mat-label>
      <textarea
        matInput
        name="crypt"
        ngModel
        cdkTextareaAutosize
        cdkAutosizeMaxRows="5"
        rows="5"
      >
      </textarea>
      <p>{{ cript }}</p>
    </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>


